.list {
  width: 400px;
  margin: 0 auto;
  padding: 0;

  li {
    border: 1px solid lightgray;
    padding: 10px 20px;
    list-style-type: none;

    &:not(:last-child) {
      border-bottom: none;
    }
  }
}
