<template>
  <div>
    <h1>Counter</h1>
    <span>Counter: {{ counter }}</span>
    <div class="mt-2">
      <button>減 1</button>
      <button>重置</button>
      <button>加 1</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      counter: 0
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.mt-2 {
  margin-top: 20px;
}

button {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border-radius: 2px;
}
</style>
