<template>
  <div>
    <!-- <div class="title-box">需求條件</div>
    <div class="hr-line"></div> -->
    <div class="list-box">
      <div class="item-box w33_3">
        <label>姓名</label>
        <div class="item-content">
          <input v-model.trim="formData.name" type="text" />
        </div>
      </div>
      <div class="item-box w33_3">
        <label>學歷</label>
        <div class="item-content">
          <select v-model="formData.edu">
            <option
              v-for="item in edu"
              :key="item.id"
              :value="item.id"
              v-text="item.value"
            ></option>
          </select>
        </div>
      </div>
      <div class="item-box w33_3">
        <label>科系</label>
        <div class="item-content">
          <input v-model.trim="formData.department" type="text" />
        </div>
      </div>
    </div>
    <div class="list-box">
      <div class="item-box w50">
        <label>語文條件</label>
        <div class="item-content">
          <div v-for="item in lang" :key="item.id" class="check-box">
            <input
              :id="`lang${item.id}`"
              v-model="formData.lang"
              type="checkbox"
              :value="item.id"
            />
            <label :for="`lang${item.id}`" v-text="item.value"></label>
          </div>
        </div>
      </div>
      <div class="item-box w50">
        <label>擅長工具</label>
        <div class="item-content">
          <div v-for="item in skill" :key="item.id" class="check-box">
            <input
              :id="`skill${item.id}`"
              v-model="formData.skill"
              type="checkbox"
              :value="item.id"
            />
            <label :for="`skill${item.id}`" v-text="item.value"></label>
          </div>
        </div>
      </div>
    </div>
    <div class="list-box">
      <div class="item-box w50">
        <label>自我介紹</label>
        <div class="item-content">
          <textarea v-model.trim="formData.other"></textarea>
        </div>
      </div>
      <div class="item-box w50">
        <label>性別</label>
        <div class="item-content">
          <div class="check-box">
            <input
              id="sex_male"
              v-model="formData.sex"
              type="radio"
              value="1"
            />
            <label for="sex_male">男</label>
          </div>
          <div class="check-box">
            <input
              id="sex_female"
              v-model="formData.sex"
              type="radio"
              value="2"
            />
            <label for="sex_female">女</label>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <div class="btn" href="./App.html">回清單</div>
      <div class="btn" @click="addData">確定送出</div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data() {
    return {
      edu: [],
      lang: [],
      skill: [],
      formData: {
        name: '',
        edu: '',
        department: '',
        sex: '',
        lang: [],
        skill: [],
        other: ''
      }
    }
  },
  mounted() {
    let myEdu = axios
      .get('http://localhost:7000/Codes?type=EDU')
      .then(response => {
        this.edu = response.data.data
      })

    let myLang = axios
      .get('http://localhost:7000/Codes?type=LANG')
      .then(response => {
        this.lang = response.data.data
      })

    let mySkill = axios
      .get('http://localhost:7000/Codes?type=SKILL')
      .then(response => {
        this.skill = response.data.data
      })
  },
  methods: {
    addData() {}
  }
}
</script>

<style lang="scss" scoped>
.w33_3 {
  width: calc(100% / 3);
}

.w50 {
  width: calc(100% / 2);
}

.title-box {
  font-size: 18px;
  letter-spacing: 2.7px;
  padding: 10px 0;
}

.hr-line {
  height: 4px;
  background: linear-gradient(90deg, #4686ff 0, #3db957);
  margin-bottom: 30px;
}

.list-box {
  display: flex;
  flex-wrap: wrap;
}

.item-box {
  display: grid;
  grid-template-columns: 100px auto;
  line-height: 40px;
  min-width: 300px;
  margin-bottom: 25px;
}

.item-box > label {
  text-align: right;
  font-size: 16px;
  letter-spacing: 2.5px;
  display: inline-block;
}

.item-content {
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
}

.item-content > textarea {
  height: 60px;
  width: 100%;
  background-color: #f5f6f8;
  border: 0;
  resize: none;
}

.item-content > select {
  background-color: #f5f6f8;
  border: 0;
  font-size: 15px;
  height: 100%;
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
}

.item-content > input {
  background-color: #f5f6f8;
  border: 0;
  font-size: 15px;
  height: 100%;
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
}

.item-content > input:focus {
  outline: 1px solid #4686ff;
}

.check-box {
  padding-right: 15px;

  > label {
    padding-left: 10px;
  }
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color: #174193;
  border: 1px solid #174193;
  border-radius: 35px;
  min-width: 140px;
  line-height: 40px;
  text-align: center;
  margin: 10px;
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: #174193;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}
</style>
