<template>
  <div class="modalDemo">
    <h1 v-text="'Modal Demo'"></h1>
    <div class="content">
      <button
        class="btn btn-primary"
        @click="$refs.appModal.isOpen = true"
        v-text="'Open PopupModal'"
      ></button>
    </div>
    <AppModal ref="appModal">
      <div slot="data" class="dc-data-box">456</div>
    </AppModal>
  </div>
</template>
<script>
import AppModal from '@/components/AppModal.vue'
export default {
  name: 'ModalDemo',
  components: {
    AppModal
  },
  data() {
    return {
      open: false
    }
  },
  computed: {},
  mounted() {},
  methods: {}
}
</script>
