<template>
  <div>
    <h1>Practice</h1>
    <ul class="list">
      <li>
        <router-link to="/counter">Counter</router-link>
      </li>

      <li>
        <router-link to="/search">Search</router-link>
      </li>
      <li>
        <router-link to="/modalDemo">modalDemo</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {}
</script>
