<template>
  <div>
    <h1>Search</h1>

    <input type="text" />
    {{ nameList }}
  </div>
</template>

<script>
import nameList from '@/data/name.json'

export default {
  data() {
    return {
      nameList
    }
  }
}
</script>
