<template>
  <div>
    <h1>Search</h1>
    {{ searchList.length }}

    <input v-model="search" type="text" />

    <ul class="list">
      <li v-for="(name, index) in searchList" :key="index">
        {{ name }}
      </li>
    </ul>

    <!-- <hr />

    <ul class="list">
      <li v-for="name in nameList" :key="name">
        {{ name }}
      </li>
    </ul> -->
  </div>
</template>

<script>
import nameList from '@/data/name.json'

export default {
  data() {
    return {
      nameList,
      search: ''
    }
  },
  computed: {
    /** 搜尋過後的陣列 */
    searchList() {
      const search = this.search.toUpperCase()

      return this.nameList.filter(function(name) {
        return name.toUpperCase().includes(search)
      })

      // return this.nameList.filter(name => {
      //   return name.toUpperCase().includes(this.search.toUpperCase());
      // });
    }
  }
}
</script>
