<template>
  <div v-if="isOpen" class="demoModal">
    <div class="demoModal-content">
      <div class="dc-data-title" v-text="'Demo Modal'"></div>
      <slot name="data" class="dc-data-box"></slot>
      <button
        class="btn btn-primary"
        @click="isOpen = false"
        v-text="'Close PopupModal'"
      ></button>
    </div>
  </div>
</template>
<script>
export default {
  props: {},
  data() {
    return {
      isOpen: false
    }
  },
  methods: {}
}
</script>
<style lang="scss" scoped>
.demoModal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #49505796;

  .demoModal-content {
    background: #fff;
    height: auto;
    min-height: 350px;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .dc-data-title {
      font-size: 24px;
      padding: 10px;
    }

    .dc-data-box {
      flex: 1;
    }
  }
}
</style>
