<template>
  <div id="app">
    <section class="top-box"></section>
    <section class="content-box">
      <nav class="nav-box">
        <div class="nb-header">
          <div class="nbh-title">昕力資訊</div>
          <div class="nbh-data">
            <img src="./assets/img/use.png" />
            <div class="login-box">
              <div class="lb-user">Sophie</div>
              <a href="#">登出</a>
            </div>
          </div>
        </div>
        <div class="nb-data scrollbar">
          <div v-for="item in pathList" :key="item.name">
            <router-link :to="item.path">
              <img :src="item.imgSrc" />
              <span>{{ item.text }}</span>
            </router-link>
          </div>
        </div>
      </nav>
      <section class="wrapper-box">
        <div class="title-box">{{ getTitle }}</div>
        <div class="hr-line"></div>
        <main class="main-box scrollbar">
          <router-view />
        </main>
        <footer class="footer-box">Copyright©EliteERP</footer>
      </section>
    </section>
  </div>
</template>

<script>
import imgHome from './assets/img/menu_s_05@2x.png'
import imgForm from './assets/img/menu_s_00@2x.png'
import imgPractice from './assets/img/menu_s_03@2x.png'

export default {
  data() {
    return {
      pathList: [
        { name: 'home', text: '自我介紹', path: '/', imgSrc: imgHome },
        { name: 'form', text: '表單常用', path: '/form', imgSrc: imgForm },
        {
          name: 'practice',
          text: 'Vue 練習',
          path: '/practice',
          imgSrc: imgPractice
        }
      ]
    }
  },
  computed: {
    getTitle() {
      let data = this.pathList.filter(item => {
        return item.name === this.$route.name
      })
      if (data.length > 0) {
        return data[0].text
      } else {
        return ''
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
#app {
  font-family: Helvetica, '微軟正黑體', 'Microsoft JhengHei', 'Heiti TC', '黑體',
    Arial, sans-serif, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* 通用 */
.scrollbar::-webkit-scrollbar {
  /*整體的scrollbar樣式*/
  width: 12px;
  background-color: #eee;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  /*bar的樣式*/
  border-radius: 10px;
  background-color: #ccc;
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.top-box {
  height: 10px;
  background-color: #174193;
}

.content-box {
  flex: 1;
  display: flex;
  overflow: hidden;
}

/* nav-box */
.nav-box {
  width: 235px;
  height: 100%;
  background-color: #f5f6f8;
}

.nb-header {
  height: 130px;
  padding: 30px 20px;
  background-color: #4686ff;
  color: #fff;
  box-sizing: content-box;
}

.nbh-title {
  font-size: 26px;
  text-align: center;
  line-height: 1.2em;
  letter-spacing: 0.1em;
}

.nbh-data {
  text-align: right;
  padding: 30px 10px 10px;
  display: flex;
}

.nbh-data > img {
  widows: 55px;
  height: 55px;
}

.login-box {
  flex: 1;
}

.lb-user {
  font-size: 18px;
  height: 30px;
}

.login-box > a {
  text-decoration: none;
  color: #fff;
}

.login-box > a:hover {
  text-decoration: none;
  color: #ccc;
}

.nb-data {
  height: calc(100% - 190px);
  overflow: auto;
}

.nb-data > div {
  padding: 15px;
  margin: 0;
}

.nb-data > div:hover {
  background-color: #fff;
  border-left: 5px #f2ad45 solid;
}

.nb-data > div > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.nb-data > div > a > img {
  width: 35px;
}

.nb-data > div > a > span {
  font-size: 16px;
  padding-left: 15px;
}

/* wrapper-box */

.wrapper-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 0;
}

.title-box {
  font-size: 18px;
  letter-spacing: 2.7px;
  padding: 10px 0;
  text-align: start;
}

.hr-line {
  height: 4px;
  background: linear-gradient(90deg, #4686ff 0, #3db957);
}
.main-box {
  flex: 1;
  padding-top: 30px;
  overflow: auto;
}

.footer-box {
  text-align: center;
  font-size: 12px;
  color: #5b5b5b;
  letter-spacing: 2px;
  padding: 10px 0px;
}
</style>
